@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html::-webkit-scrollbar {
  width: 18px;
}

html::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

html::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

nav {
  background: rgb(0, 0, 0);
  height: 75px;
  width: 100%;
  padding-left: 25px;
}

.logo {
  color: rgb(115, 125, 212);
  cursor: pointer;
  font-weight: bold;
  font-size: 40px;
  line-height: 75px;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 75px;
  margin: 0 56px;
}

nav ul li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
}

nav ul li a:hover {
  color: yellow;
  transition: all ease-in 0.2s;
}

.header {
  height: 70vh;
  background: linear-gradient(rgba(48, 6, 40, 0.5), rgba(48, 6, 40, 0.5)),
    url(telegram.png) no-repeat center / cover;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  text-align: center;
  position: relative;
}

.header-title {
  font-size: 50px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #fff;
}

.header-subtitle {
  font-size: 18px;
  margin-top: 0;
  font-weight: bold;
  color: #000;
}

.header-content button {
  margin-top: 40px;
  outline: 5px;
  background-color: rgb(0, 0, 0);

  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.header-content button:hover {
  background-color: rgb(81, 73, 185);
}

.header-content button a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  transition: all ease-in 0.2s;
}

.header-content button a:hover {
  color: rgb(255, 255, 255);
}

.column {
  float: left;
  width: 33%;
  padding: 0 15px;
}

.row {
  margin-left: 50px;
  margin-right: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.services1 {
  background: #0d1eb9;
  box-shadow: inset 5px 5px 10px #570357, inset -5px -5px 10px #610861;
  height: 250px;
  padding: 40px;
  border-radius: 33px;
  text-align: center;
}

.services {
  background-color: #fdfdfd;
  color: #fff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services h2 {
  font-size: 28px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.services1 h3 {
  margin-top: -5px;
  font-size: 21px;
  color: yellow;
}

.services1 p {
  margin-top: 10px;
  font-weight: 100;
}

.services-deets {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 200;
}

.about {
  background-color: rgb(0, 0, 0);
  padding-bottom: 40px;
  padding-top: 40px;
}

.about h2 {
  color: yellow;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
}

.about .column {
  width: 50%;
  padding: 2px;
}

.about .row .column p {
  color: #fff;
  margin-right: 40px;
  margin-top: 10px;
  text-align: justify;
}
.about img {
  border-radius: 80px;
  margin-left: 50px;
}

.lastpart {
  padding-top: 40px;
  padding-bottom: 40px;
  color: black;
  background-color: #ffffff;
}
.lastrow {
  margin-left: 50px;
  margin-right: 50px;
}
.lastrow:after {
  content: "";
  display: table;
  clear: both;
}

.form {
  background: #000000;
  padding: 20px;
  box-shadow: inset 5px 5px 10px #570357, inset -5px -5px 10px #610861;
  color: rgb(0, 0, 0);
  border-radius: 7px;
  float: left;
  width: 45%;
}
.form h4 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: yellow;
}
.form p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.deets {
  font-size: 20px;
  font-weight: 500;
  color: yellow;
}

.form input,
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: 33px;
  background: #ecf0f3;
  box-shadow: inset 4px 4px 7px #ecf0f3, inset -4px -4px 7px rgb(226, 206, 206);
}

.btn {
  border: none;
  cursor: pointer;
  outline: none;
  height: 60px;
  width: 100%;
  font-size: 20px;
  border-radius: 50px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  background: #123091;
  transition: all 0.2s;
}
.btn:hover {
  background-color: rgb(201, 201, 10);
  color: #000;
}

/* --- Login ----  */
.login-div {
  margin-top: 130px;
  margin-left: 155px;
  width: 430px;
  height: 600px;
  border-radius: 33px;
  padding: 20px;
  background: #000000;
  box-shadow: inset 5px 5px 8px #570357, inset -5px -5px 8px #610861;
}

.title {
  text-align: center;
  padding-top: 24px;
  letter-spacing: 0.5px;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: -3px;
  color: yellow;
}
.sub-title {
  text-align: center;
  font-size: 20px;
  padding-top: 7px;
  letter-spacing: 3px;
  color: #fff;
}

.fields {
  padding: 75px 5px 5px 5px;
  width: 100%;
}
.fields input {
  border: none;
  outline: none;
  background: none;
  color: 1px soilid yellow;
  padding: 20px 10px 20px 5px;
  font-size: 20px;
}
.username,
.password {
  margin-bottom: 30px;
  border-radius: 25px;
  background: #ecf0f3;
  box-shadow: inset 4px 4px 7px #ecf0f3, inset -4px -4px 7px rgb(226, 206, 206);
}
.fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
  color: yellow;
}

.signing-button {
  border: none;
  cursor: pointer;
  outline: none;
  height: 60px;
  width: 100%;
  font-size: 20px;
  border-radius: 30px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  background: #123091;
  transition: all ease-in 0.2s;
}

.signing-button:hover {
  background-color: rgb(201, 201, 10);
  color: #000;
}

.link {
  padding-top: 20px;
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-style: italic;
}

#password {
  font-style: normal;
  font-size: 20px;
}

/*---- Search ----*/

.side-by-side {
  float: left;
  width: 55%;
}

.search-section {
  margin-left: 100px;
  padding: 20px;
  background: #000000;
  box-shadow: inset 5px 5px 7px #570357, inset -5px -5px 7px #610861;
  color: rgb(0, 0, 0);
  border-radius: 7px;
  height: 70px;
}

.search-section input {
  outline: 0;
  width: 85%;
  height: 30px;
  padding: 5px;
  margin-left: 10px;
  border-width: 0px;
  border-radius: 3px;
  color: #000;
}

.search-btn {
  outline: 0;
  background-color: yellow;
  color: #000;
  padding: 10px;
  height: 32px;
  font-size: 13px;
  font-weight: bold;
  border: 0px;
  margin-left: -5px;
  cursor: pointer;
  text-transform: uppercase;
}

.search-btn:hover {
  background-color: #911291;
  color: #fff;
}

.search-bar {
  font-size: 15px;
  font-style: italic;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #fff;
  box-sizing: border-box;
  background: #fff;
}

.footer-body {
  background-color: rgb(60, 124, 209);
  background-size: contain;
  padding-top: -2px;
  box-sizing: border-box;
  height: 180px;
}

.icons {
  justify-content: center;
  font-size: 200px;
  display: flex;
  margin-bottom: 30px;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  position: relative;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#copyright {
  padding-top: -2%;
  font-size: 13px;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
